*{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
    width: 100%;
    height: 800px;
}
.containerbody{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.menu{
    background-color: aqua;
    padding: 15px;
    width: 500px;
    border: 5px solid black;    
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 18px;
    background-color: chocolate;
}
.info{
    height: 200px;
    width: 300px;
    background-color: rgb(208, 177, 237);
    display: flex;
}
img{
    height: 50px;
    width: 50px;
}
.footer{
    background-color: rgb(65, 65, 65);
    height: 100px;
    position: fixed;
    bottom: 0;
}
.test{
    display: flex;
    flex-direction: row;
}
.para{
    padding: 5px;
    margin: 5px;
    color: aliceblue;
}