*{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
    width: 100%;
    height: 800px;
}
.containerbody{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.menu{
    background-color: aqua;
    padding: 15px;
    width: 240px;
    border: 5px solid black;
    
}
.info{
    height: 200px;
    width: 300px;
    background-color: blueviolet;
}
img{
    height: 50px;
    width: 50px;
}
.footer{
    background-color: bisque;
    height: 200px;
    position: fixed;
    bottom: 0;
}
.test{
    display: flex;
    flex-direction: row;
}
.para{
    padding: 5px;
    background-color: aquamarine;
    margin: 5px;
}